@using PipelineCacher.Client.Models
@using PipelineCacher.Entities
@page "/Pipelines/{Id}/Contexts/{ContextId}"
<h3>PipelineContext</h3>

@{
    var pipelineNavLink = $"/pipelines/{Id}";
    var pipelineContextsNavLink = $"/pipelines/{Id}/contexts";
}
@if (pipelineContext_loadingStatus == RestCallStatusEnum.NotStarted || pipelineContext_loadingStatus == RestCallStatusEnum.Getting)
{
<p>
    Crumbtrail:
    <NavLink href="/pipelines">Pipelines</NavLink>
    → <NavLink href="@pipelineNavLink"><i>Loading...</i></NavLink>
    → <NavLink href="@pipelineContextsNavLink">Contexts</NavLink>
</p>
    <p><em>Loading...</em></p>
}

@if (pipelineContext_loadingStatus == RestCallStatusEnum.Failed)
{
<p>
    Crumbtrail:
    <NavLink href="/pipelines">Pipelines</NavLink>
    → <NavLink href="@pipelineNavLink"><i>Could not load name</i></NavLink>
    → <NavLink href="@pipelineContextsNavLink">Contexts</NavLink>
</p>
    <p>Loading of pipeline contexts failed. <button>Retry</button></p>
    <p>Error message:</p>
    <p>@ResultMessage</p>
}

@if (pipelineContext_loadingStatus == RestCallStatusEnum.Ok)
{
<p>
    Crumbtrail: <NavLink href="/pipelines">Pipelines</NavLink>
    → <NavLink href="@pipelineNavLink">@pipelineContext.Pipeline.Name</NavLink>
    → <NavLink href="@pipelineContextsNavLink">Contexts</NavLink>
</p>
    <p>
        Environment: @pipelineContext.Environment<br>
        Branch: @pipelineContext.TargetBranch

    </p>
        
    <h2>Azure DevOps pipeline navigation</h2>
    <p>Runs summary: <a href="https://dev.azure.com/@pipelineContext.Pipeline.OrganizationName/@pipelineContext.Pipeline.ProjectName/_build?definitionId=@pipelineContext.Pipeline.AzdoId">Summary</a><br>
    Registration (edit mode): <a href="https://dev.azure.com/@pipelineContext.Pipeline.OrganizationName/@pipelineContext.Pipeline.ProjectName/_apps/hub/ms.vss-build-web.ci-designer-hub?pipelineId=@pipelineContext.Pipeline.AzdoId&branch=@pipelineContext.TargetBranch">Pipeline Registration</a><br>
    Source code: <a href="https://dev.azure.com/@pipelineContext.Pipeline.OrganizationName/@pipelineContext.Pipeline.ProjectName/_git/@pipelineContext.Pipeline.RepositoryId?path=@pipelineContext.Pipeline.YamlPath&version=GB@(pipelineContext.TargetBranch)">Source Code</a></p>
    
    <table>
        <tr><th>Name</th><th>Status</th></tr>
        @foreach (var stage in pipelineContext.Stages)
        {

        <tr><td>@stage.CalculateDisplayName()</td><td>@stage.Status.ToString()</td></tr>
        }
    </table>
}

<button @onclick="ParseYamlClickedAsync" class="btn btn-primary" disabled="@(parseYaml_loadingStatus == RestCallStatusEnum.Posting)">
    @if (parseYaml_loadingStatus == RestCallStatusEnum.Posting)
    {
        <span class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Parsing...</span>
        </span>
    } Parse yaml
</button>

<button @onclick="GetPipelineRuns" class="btn btn-primary">Get pipeline runs</button>

@if (azdoPipelineRuns != null)
{
    <h2>Pipeline runs</h2>
    <table>
        <thead><tr><th>Id</th><th>Number</th><th>Result</th></tr></thead>
        <tbody>
    @foreach (var run in azdoPipelineRuns)
    {
        <tr><td>@run.Id</td><td>@run.BuildNumber</td><td>@run.Result</td></tr>
    }
    </tbody>
    </table>
}

@code {

}
