@page "/profile"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims
@using PipelineCacher.Client.Features.User
@using PipelineCacher.Entities
@using BlazorState

@inherits BlazorStateComponent

@inject NavigationManager navigationManager
@inject SignOutSessionStateManager SignOutManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient Http

<h3>Userstate</h3>
UserState.Test: @userState.Test
<br />
UserState.UserId: @userState.User?.Id
<br />

<h3>Profile</h3>

<AuthorizeView>
    <Authorized>
        Status: Logged in<br />
        Name: @context.User.Identity.Name<br />
    </Authorized>
    <NotAuthorized>
        Status: Not logged in
    </NotAuthorized>
</AuthorizeView>

<h3>Actions</h3>
<AuthorizeView>
    <Authorized>
        <button class="nav-link btn btn-link" @onclick="BeginLogout">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

<h3>ClaimsPrincipal Data</h3>

<button @onclick="GetClaimsPrincipalData" class="btn btn-primary mr-1 mt-1">Get ClaimsPrincipal Data</button>
<button @onclick="GetUserProfile" class="btn btn-primary mr-1 mt-1">Get user profile</button>
<button @onclick="AzdoAuthorize" class="btn btn-primary mt-1">Authorize Azure DevOps</button>

<p>@_authMessage</p>

@if (_claims.Count() > 0)
{
    <ul>
        @foreach (var claim in _claims)
        {
            <li>@claim.Type: @claim.Value</li>
        }
    </ul>
}

<p>@_surnameMessage</p>

<p>@UserprofileResult</p>

@code {
    private string UserprofileResult;
    private UserState userState => GetState<UserState>();

    private string _authMessage;
    private string _surnameMessage;
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();

    private async Task GetClaimsPrincipalData()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            _authMessage = $"{user.Identity.Name} is authenticated.";
            _claims = user.Claims;
            _surnameMessage =
                $"Surname: {user.FindFirst(c => c.Type == ClaimTypes.Surname)?.Value}";
        }
        else
        {
            _authMessage = "The user is NOT authenticated.";
        }
    }

    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        navigationManager.NavigateTo("authentication/logout");
    }

    private async Task GetUserProfile()
    {
        var result = await Http.PostAsync($"api/UserProfile", null);
        var user = await result.Content.ReadFromJsonAsync<User>();
        UserprofileResult = $"user.Id = {user.Id.ToString()}";
        await Mediator.Send(new UserState.UpdateUserAction { User = user });
    }

    private void AzdoAuthorize()
    {
        navigationManager.NavigateTo("azdoauthentication/authorize");
    }
}
